In [18]:
from obfuscator import Obfuscator
import pandas as pd
import numpy as np
import re

In [19]:
def clean_string(query):
    return re.sub('\s+', ' ', query.replace('(', ' ').replace(')', ' ').replace(',', ' , ')).strip()

In [20]:
df = pd.read_csv('../data/all_data.csv')
df['payload'] = df['payload'].apply(clean_string)
df.insert(2, 'is_obf', 0, True)

In [25]:
obf = Obfuscator(1, 50)
row_list = []
# Generate obfuscation for each payload
for _, row in df.iterrows():
    payload = row['payload']
    obfuscated_payload = obf.obfuscate(payload)
    row_list.append({'payload': obfuscated_payload, 'length': len(obfuscated_payload), 'is_obf': 1, 'label': row['label']})

In [28]:
# Create obfuscated dataframe
df_obfuscated = pd.DataFrame(row_list)

,payload,length,is_obf,label
0,c/ caridad s/n OR 1123-398=1394-363 OR 960-75=...,233,1,0
1,"campello , el AND 167-158=560-551 OR 772-763=8...",294,1,0
2,41159-975 AND 370-366=609-605 AND 987-979=624-...,748,1,0
3,1442431887503494-164 AND 649-648=369-368,40,1,0
4,nue836-799 OR 1610-645=2127-248 AND 931-927=88...,581,1,0
...,...,...,...,...
30151,"170-169' and extractvalue 8981-999 , concat 37...",563,1,1
30152,"409-408"" order by 810-809-- OR 954-431=1452-17...",959,1,1
30153,380-379' procedure analyse extractvalue 6547-7...,977,1,1
30154,875-874 rlike select * from select sleep 276-2...,100,1,1
30155,-7754-243 as xqzf where 10465-526=10131-192 un...,522,1,1

In [30]:
# Save obfuscated data and non_obfuscated data
df_obfuscated.to_csv('obf_data.csv', index=None, header=True)
df_combined = pd.concat([df, df_obfuscated], ignore_index=True)
df_combined.to_csv('all_data.csv', index=None, header=True)